body {
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.square {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10px;
  border-radius: 30px;
}
.squares {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
